<section>
   <mat-card>
      <mat-card-title>Terms And Conditions</mat-card-title>
      <mat-card-content>
         <p>Important information, please read the following terms and conditions carefully. Your acceptance of these
            terms is an absolute condition of this website and the services of this website.</p>
         <h2>Security</h2>
         <p>
            We will take the highest care in securing complete classification of you, your customer and anyone who may
            be in
            a bargaining circumstance. Every one of our envelopes is interestingly secure so no entrance from other
            outside
            sources can trade off our or your integrity. In the instance of anyone who makes a progress to you or your
            customers based on work created independent from anyone else, please tell us and lawful procedures may
            approach.
         </p>
      </mat-card-content>
   </mat-card>
</section>