.home{
    display: flex;
    flex-wrap: wrap;
}
.image-container{
    height: 200px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.images{
    flex-basis: 30%;
    margin-bottom: 1rem;
}
@media(max-width:900px) and (min-width:500px){
    .images{
        flex-basis: 50%;
    }
}
@media(max-width:500px){
    .images{
        flex-basis: 100%;
    }
}